#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=Emacs Client
GenericName=Text Editor
Comment=View and edit files
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/c++src
Exec=/usr/local/bin/emacsclient --create-frame %F
Icon=/usr/local/share/icons/hicolor/scalable/apps/emacs.svg
Type=Application
Terminal=false
Categories=Utility;Development;TextEditor
StartupWMClass=Emacs
