#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=Emacs 25 client
GenericName=Text Editor
Comment=View and edit files
Exec=/usr/bin/emacsclient --create-frame --alternate-editor "" %F
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/c++src
Icon=/usr/share/icons/hicolor/scalable/apps/emacs25.svg
Type=Application
Terminal=false
Categories=Utility;Development;TextEditor
StartupWMClass=Emacs
